body {
    display: flex;
    justify-content: center;
    align-items: center;     
    min-height: 100vh;       
    font-family: "Arial";
    font-size: 20px;
    background-color: #FFF5B8;
}
input{
    background-color: #cbbd93;
}
fieldset {
    border: 15px solid #ffb16e;
    padding: 10px;
    margin-bottom: 20px;
}
table {
    color:rgb(0, 0, 0)
}
h1 {
    text-align: center;
    color: #cbbd93;
}